<div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-title"> <b>Name:</b> {{user.name}}</div>
        </div>
    </div>
    <div class="e-card-content"><b>Email </b>{{user.email}}</div>
    <div class="e-card-content"><b>Phone </b>{{user.phone}}</div>
    <div class="e-card-content"><b>City </b>{{user.address.city}}</div>
    <div class="e-card-content"><b>Company </b>{{user.company.name}}</div>
</div>
